.ContainerHomePageHeader {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid black;
  background: rgb(2,0,36);
  background: linear-gradient(103deg, rgba(2,0,36,1) 0%, rgba(255,128,54,1) 0%);
}

.SearchHomePageHeader input{
  width: 700px;
  height: 30px;
}